.item-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.item__name {
    font-size: 1.2rem;
    text-align: center;
}

.item__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.item__description {
    text-align: justify;
}

.item__tags {
    text-align: center;
}
