<%- include('../includes/headInclude.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigationInclude.ejs') %>

    <main>
        <!-- content -->
      <div class="card__content">
        <h1>Resource Not Found!</h1>
        
      </div>
    </main>
<%- include('../includes/endInclude.ejs') %>
