<%- include('../includes/headInclude.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigationInclude.ejs') %>

    <main>
        <!-- content -->
      <div class="card__content">
        <h1>CS 341 Week 2 - Heroku - MongoDB</h1>
        <a href="/item-list">Item List</a></br>
      </div>
    </main>
<%- include('../includes/endInclude.ejs') %>
